.App {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;

}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  object-fit: cover;
}

#footer {
  height: 170px
}

.lastMessage:hover {
  background: Gainsboro;
}
